{{ define "content" }}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
	<main class="px-3">
		<h1 class="text-light">Cover your page.</h1>
		<p class="lead text-light">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
		<p class="lead">
			<a href="/about/" class="btn btn-lg btn-secondary fw-bold text-dark border-white bg-white">About</a>
		</p>
	</main>
</div>
{{ end }}